@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>This is a Simple Jokes App done using ASP.NET Core MVC</h3>
    <h5>This Project Demonstrate How CRUD Works in ASP.NET Core </h5>
</div>
